.grid {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width:100%; 
  max-width: 1240px;
  margin: 0 auto;
  border-radius: 5px;
  grid-gap: 10px;
  padding: 10px;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
