
.section__inner {
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3.5em;
  position: relative;
  padding: var(--spacing-lg) var(--spacing-md);
  
  @media (min-width: 768px) {
    padding: var(--spacing-xl) var(--spacing-xxl);
  }
}

.section__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 1.5rem;
}

.section__heading {
  display: flex;
  margin: 0;
  font-size: var(--fz-xxl);
}
.section__title{
text-decoration: none;
color: white;
font-size: 2.5rem;
}
.section__breadcrumb {
  display: flex;
  color: var(--light-grey);
}

.section__see-all {
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: var(--light-grey);
  font-size: var(--fz-xxs);
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-bottom: 2px;
  text-decoration: none;
}
