
.section__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3.5em;
  position: relative;
  padding: var(--spacing-lg) var(--spacing-md);
  width: min-content;
  
  @media (min-width: 768px) {
    padding: var(--spacing-xl) var(--spacing-xxl);
  }
}
/* li{
  list-style: none;
}
li button {
  display: inline-block;
  margin: 0 5px;
  float: right;

} */
.buttons-container{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute; /* added */
  top: 0; /* added */
  right: 0; /* added */
}
.time-range-buttons{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.section__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* updated */
  margin-bottom: 1.5rem;
  position: relative; /* updated */
}

.section__heading {
  display: flex;
  margin: 0;
  font-size: var(--fz-xxl);
}
.section__title{
text-decoration: none;
color: white;
font-size: 2.5rem;
}
.section__breadcrumb {
  display: flex;
  justify-content: space-between;
  color: var(--light-grey);
}

.section__see-all {
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: var(--light-grey);
  font-size: var(--fz-xxs);
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-bottom: 2px;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: white;
}
.profile_link{
  font-weight: 900px;
}